body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  /* color: inherit; */
  color: #F7F700;;
}

h3 {
  font-size: 3vh;
}

.App {
  display: flex;
}

.left-sidebar {
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vh;
  min-height: 100vh;
  background-color: #282c34;
}

.left-sidebar i {
  color: aliceblue;
  /* box-shadow: 2px 2px 8px #fff; */
  filter: drop-shadow(3px 3px 3px #111);
}

.fa-facebook-square:hover {
  color: #3292F6;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  /* transform: scale(1.5) !important; */
}

.fa-linkedin:hover {
  color: #0093BB;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  /* transform: scale(1.5) !important; */
}

.fa-twitter:hover {
  color: #00acee;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  /* transform: scale(1.5) !important; */
}

.bottom-menu {
  display: flex;
  flex-direction: row;
}

.image-container {
  width: 100%;
  /* height: 600px; */
  height: 92vh;
  position: relative;
}

.image-container img {
  width: 100%;
  /* height: 600px; */
  height: 92vh;
}

.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, .8);
  color: #FFF;
}

.top-mail{
  position: absolute;
  height: 100px;
  top: 0;
  width: 90px;
  right: 5px;
  /* background-color: #F7F700; */
  /* z-index: 1000; */
  /* font-size: 10vh; */
  /* color: #FFFFFF; */
}
.top-mail span{
  margin: 20%;
}
.top-mail i{
  position: absolute;
  z-index: 1000;
  background-color: #F7F700;
  margin: auto;
  padding: 8%;
  font-size: 10vh;
  color: #FFFFFF;
}

.bottom-menu {
  width: 100%;
  position: absolute;
  height: 80px;
  background: #282c34;
  bottom: 0;
}

.cv-section {
  font-size: 55px;
  color: #FFF;
  background-color: #F7F700;
  width: 100px;
  height: 100%;
}

.cv-section-text {
  display: inline;
  margin-left: 15%;
}

.cv-section:hover {
  cursor: pointer;
}
.cv-section a:hover {
  color: #FFFFFF;
}
.cv-section-icon {
  display: none;
}

.cv-section:hover .cv-section-text {
  display: none;
}

.cv-section:hover .cv-section-icon {
  display: block;
  margin-left: 20%;
}

.menu-section {
  display: flex;
  flex-direction: row;
  margin: 0px 15px;
  color: #FFF;
  margin: auto;
}

.menu-section h3 {
  margin: 15px;
  transition: .3s all;
  display: inline-block;
}

.menu-section h3:hover {
  color: #FAB005;
  cursor: pointer;
}

.menu-section_mbl{
  display: none;
}

/* Home Page  */

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10% 10% 0 10%;
}

.divider {
  height: 380px;
  /* width: 20%; */
  border-right: 2px solid #FFF;
  margin: auto;
}

.home-left {
  margin: auto;
  width: 45%;
}

.home-left h3 {
  font-size: 4vh;
}

.home-left p {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  line-height: 25px;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: justify;
}

.home-left span {
  color: #F7F700;
  font-size: 6vh;
}

.home-right {
  /* width: 40%; */
  margin: auto;
}

.home-right img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin: auto;
  box-shadow: 0px 0px 3px #FAB005;
  /* filter: drop-shadow(0px 0px 3px #FAB005); */
}

/* About Page  */

.about-table {
  border-collapse: collapse;
  /* width: 100%; */
  background-color: rgba(255, 255, 255, 0.4);
  line-height: 35px;
  border-radius: 10px;
}

.about-table td {
  padding: 0px 0px 0px 12px;
}

/* Portfolio Page  */

.portfolio-page {
  padding-top: 1%;
  margin: 1% 1% 1% 8%;
}

.portfolio-page div {
  height: 220px;
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.4);
  line-height: 35px;
  border-radius: 10px;
}

.portfolio-label {
  border-bottom: 2px solid #F7F700;
  width: 20%;
  display: inline-block;
}

/* Education Page  */

.education-layout {
  margin: auto;
  width: 90%;
}

.education-layout span {
  color: #F7F700;
  font-size: 6vh;
}

.education-layout .each-edu {
  border-bottom: 2px solid #F7F700;
  display: inline-block;
  margin: 2%;
}

@media (max-width:991px) {
  .left-sidebar {
    width: 10%;
    padding: 10px;
  }
  .left-sidebar i {
    font-size: 45%;
  }
  .top-mail i{
    font-size: 8vh;
  }
  .cv-section {
    font-size: 53px;
    /* color: #FFF;
    background-color: #F7F700;
    width: 100px;
    height: 100%; */
    /* width: 150px; */
  }
  .cv-section-text {
    display: none;
  }
  .cv-section-icon {
    display: inline-block;
    margin-left: 11%;
    width: 100%;
    padding: 0px 16px 0px 0px;
  }
  .cv-section:hover .cv-section-icon {
    display: block;
  }
  .home{
    flex-direction: column;
    overflow-y: scroll;
    height: 90vh;
  }
  .home-left {
    margin: auto;
    width: 100%;
  }
  .home-left p {
    line-height: 40px;
    font-size: 27px;
  } 
  .home-left span {
    font-size: 5vh;
  }
  .home .divider{
    display: none;
  }
  .portfolio-page {
    overflow-y: scroll;
    height: 90vh;
  }
  .portfolio-page div {
    line-height: 35px;
    font-size: x-large;
    height: auto;
  }
  
}

@media (max-width:767px) {
  .left-sidebar {
    width: 10%;
    padding: 10px;
  }
  .left-sidebar i {
    font-size: 45%;
  }
  .top-mail i{
    font-size: 4vh;
  }
  .cv-section {
    font-size: 53px;
    /* color: #FFF;
    background-color: #F7F700;
    width: 100px;
    height: 100%; */
    width: 88px;
  }
  .cv-section-text {
    display: none;
  }
  .cv-section-icon {
    display: inline-block;
    margin-left: 11%;
    width: 100%;
    padding: 0px 16px 0px 0px;
  }
  .cv-section:hover .cv-section-icon {
    display: block;
  }
  .menu-section{
    display: none;
  }
  .menu-section_mbl{
    display: block;
  }
  .home{
    flex-direction: column;
    overflow-y: scroll;
    height: 90vh;
  }
  .home-left {
    margin: auto;
    width: 100%;
  }
  .home-left p {
    line-height: 40px;
    font-size: 27px;
  } 
  .home-left span {
    font-size: 5vh;
  }
  .home .divider{
    display: none;
  }
  .home .home-right{
    display: none;
  }
  .portfolio-page {
    overflow-y: scroll;
    height: 90vh;
  }
  .portfolio-page div {
    line-height: 35px;
    font-size: x-large;
    height: auto;
  }
  
}

@media (max-width:479px) {
  .left-sidebar {
    width: 10%;
    padding: 10px;
  }
  .left-sidebar i {
    font-size: 45%;
  }
  .top-mail i{
    font-size: 6vh;
    height: fit-content;
    width: fit-content;
    /* padding: 0px 17px 0px 5px; */
  }
  .cv-section {
    font-size: 40px;
    /* color: #FFF;
    background-color: #F7F700;
    width: 100px;
    height: 100%; */
    width: 150px;
  }
  .cv-section-text {
    display: none;
  }
  .cv-section-icon {
    display: inline-block;
    margin-left: 11%;
    width: 100%;
    padding: 0px 16px 0px 0px;
  }
  .cv-section:hover .cv-section-icon {
    display: block;
  }
  .home{
    flex-direction: column;
    overflow-y: scroll;
    height: 90vh;
  }
  .home-left {
    margin: auto;
    width: 100%;
  }
  .home-left p {
    line-height: 30px;
    font-size: 22px;
    text-align: left;
  } 
  .home-left span {
    font-size: 5vh;
  }
  .home .divider{
    display: none;
  }
  .portfolio-page {
    overflow-y: scroll;
    height: 90vh;
  }
  .portfolio-page div {
    line-height: 25px;
    font-size: 20px;
    height: auto;
  }

}




.circular-menu {
  position: fixed;
  bottom: 4em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
  cursor:pointer;
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6em,-3.8em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,-0.4em,0);
}
.circular-menu.active .menu-item:nth-child(5) {
  transform: translate3d(-6em,3em,0);
}
.circular-menu.active .menu-item:nth-child(6) {
  transform: translate3d(-3em,5em,0);
}
/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(5) {
  transform: translate3d(7em,1em,0);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(6) {
  transform: translate3d(7em,1em,0);
}